CREATE TABLE IF NOT EXISTS public.platform_settings (id UUID PRIMARY KEY DEFAULT gen_random_uuid(), primary_color TEXT, logo_url TEXT, updated_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL); INSERT INTO public.platform_settings (id) VALUES ('00000000-0000-0000-0000-000000000001') ON CONFLICT DO NOTHING;
